# Ignore Git files
.git
.gitignore

# Ignore documentation files
README.md

# Ignore local packages (Docker will install them newly)
node_modules

# Ignore Docker configuration files
Dockerfile
docker-compose.yml