version: '3.8'

services:
  expense-tracker-frontend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: expense_tracker_app
    ports:
      - "8080:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge